
/* .app{
  align-content: center;
} */
*{
  margin: 0px;
  padding: 0px;
}

body{ 
  background-color: #fff;
}

span{
color: white;
}

a:link { text-decoration: none; }
.add{
  margin-top: 20px;
}

.bookCollection{

  width: 100px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: #c6a61a;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

.nav{
  display: flex;
  justify-content: flex-end;
}

h4{
  margin-left: -300px;
  margin-top: 0px;
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
}

h6{
  font-family: Poynter,Georgia,serif;
}

.inputs{
  margin-top: -30px;
 }

img{
  opacity: 0.9;
  margin-bottom: 40px;
  margin-top: 30px;
  max-width: 200px;
}

p{
  font-family: Montserrat, Helvetica Neue, Arial, sans-serif;
color: #21282d;
}

.descrbBox{
  width: 510px;
  margin-left: 20px;
  margin-top: 10px;
  padding-right: 25px;
  text-align:left;
}



.mainTextBox{
  display: flex;
  margin-top: 50px;
 }


/* ===========================================AddBook============================================================ */

.header{
  display: flex;
  justify-content: center;
  height: 50px;
}

.home{
  width: 100px;
  height: 40px;
  margin-top: 3px;
  margin-right: 20px;
  background-color: #c6a61a;
}

header{
  display: flex;
  justify-content: flex-end;
  border-color: transparent;
  border-style:groove;
  background-color: #384a57;
  height: 50px;
  border-bottom-width: 1px;
  margin-bottom: 3px;
}

.topDiv{
 display: flex;
 margin: 0px;
 padding: 0px;
 background-color: #fff;
 color: #e9be84;
 height: 100px;
}

.bookTitle{
  display:  flex;
  justify-content: center;
  padding-bottom: 600px;
  height: 100px;
  background-color: #84ace8;
  border-style:solid;
   border-left-style: hidden;
   border-right-style: hidden;
  border-top-width: 0px;
  border-bottom-width: 100px;
  border-top-color: #c6a61a;
  border-top-width: 3px;
  border-style: solid;
  border-bottom-color: #c6a61a;
  border-bottom-width: 3px;
  border-style: solid;
  margin-bottom: 7px; /* Bottom of the title div */
}

.addBookImg{
  max-width: 300px;
  border-radius: 15px 15px 15px 15px;
  mix-blend-mode: color;
  margin-left: 100px;
  margin-bottom: -40px;
  }

.welcome{
  margin-top: 40px;
  margin-left: 150px;
  margin-bottom: -20px;
  color: #ECC30B;
  font-size:2.7em;
  font-family:Chalkduster ;
 }

 .welcome2{
  margin-left: 230px;
  color: #ECC30B;
  margin-bottom: -20px;
  font-size:2.7em;
  font-family:Chalkduster ;
}

.bookLetter{
	letter-spacing: 0.0015em;
	font-size:4.7em;
  color: #ECC30B;
  margin-left: 50px;
  font-family:Chalkduster ;
}

.addBook{
  background-color: #ECC30B;
}

.designSpacer{
  background-color: #384a57;
  border-left-style: hidden;
  border-right-style: hidden;
  border-style: solid;
  padding-bottom: 150px;
  height: 50px;
  margin-top: -3px;
}

.favBook{
  margin-top: -40px;
  padding-bottom: 20px;
  color:#ECC30B;
  font-family: Poynter,Georgia,serif;
}

.form{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  border-bottom-color: #fff;
  border-style: solid;
  border-bottom-width: 100px;
  margin-bottom: -100px;
  margin-top: 300px; /* this is the bottom of form */
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: solid;
  height: 450px;
}

.form1{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
  border-bottom-color: #fff;
  border-style: solid;
  border-bottom-width: 100px;
  margin-bottom: -100px;
  margin-top: 50px; /* this is the bottom of form */
  border-left-style: hidden;
  border-right-style: hidden;
  border-top-style: hidden;
  border-bottom-style: solid;
  height: 450px;
}

.form-control{
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  font-family: Poppins-Medium;
  font-size: 18px;
}

.col{
  margin-right: 80px;
  margin-left: 80px;
  text-align: center;
}

.row{
padding-top: 100px;
padding-bottom: 360px;
border-radius: 15px 15px 15px 15px;
border-color: #384a57;
}

.input1{
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.input2{
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.input3{
  
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.input4{
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.input6{
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.input7{
margin-bottom: 20px;
border-style: solid;
border-color: #384a57;
border-width: 2px;
}

.bottomDiv{
border-left: hidden;
border-right: hidden;
border-bottom: hidden;
padding-top:500px;
}

.deck{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
justify-content: space-between;
margin-top: 50px;
}

  .title{
color: #3d6db5;
cursor: pointer;
text-decoration: none;
text-decoration-line: underline;
}
  
  .addedBy{
    color: #21282d ;
    font-family: Poynter,Georgia,serif;
  }

  .card-img{
    box-shadow:  -4px 2px 51px 4px rgba(50,0,0,0.78);
    opacity: 0.9;
    margin-bottom: 40px;
    margin-top: 30px;
    max-width: 200px;
  }
  

  .card{
    width: 350px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #d6d6d6;
  }


  /* =======================UploaderEditPage=========================== */

  .likes{
    margin-left: auto;
    text-decoration: underline;
    font-family: Poynter,Georgia,serif;
  }

  .user{
    font-family: Poynter,Georgia,serif;
    font-style: oblique;
  }

  .update{
    display: flex;
    justify-content: flex-start;
    margin-left: 140px;
  }
  
  .updateText{
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: #c6a61a;
    }
  
  .updateText2{
    height: 40px;
    width: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: rgb(240, 78, 78);
  }
  
  .editPageTitle{
   color: #21282d;
   font-family: Poynter,Georgia,serif;
   font-size: 30px;
   text-align: center;
   text-overflow: clip;
   width: 700px;
   margin-left: 70px;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 20px;
   padding-right: 20px;
  }
  
  label{
  color: #21282d;
  }
  
  .updateButton{
  background-color: #3d6db5;
  }
  
  .mainContainer{
  margin-top: -70px;
  }

  .editBox{
  margin-left: 20px;
  margin-top: 20px;
  width: 590px;
  height: 200px;
  text-align:justify;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-style:groove;
  color: #21282d;
  }

  .bookIcon{
   margin-left: 90px;
  }

